/1.exe
/AdminAccount.txt
/attandance.c
/bankingmanagment.c
/c.exe
/claender.c
/claender.exe
/linkedlist.cpp
/linkedlist.exe
/os.c
/parkingmanagment.c
/parkingmanagment.exe
/studentpassword
/studentpassword.txt
/xyz.exe